# Copiar este archivo como .env y completar los valores.
SECRET_KEY='escribe-aqui-una-clave-larga-y-aleatoria'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.mysql
DB_NAME=municipalidad
DB_USER=admin_muni
DB_PASSWORD='tu_clave'
DB_HOST=localhost
DB_PORT=3306
