# Copiar este archivo como .env y completar los valores.
# Las comillas simples evitan problemas con caracteres como $ en las claves.
SECRET_KEY='escribe-aqui-una-clave-larga-y-aleatoria'
DEBUG=True
# En EC2 agrega la IP pública: 127.0.0.1,localhost,54.123.45.67
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.mysql
DB_NAME=municipalidad
DB_USER=admin_muni
DB_PASSWORD='tu_clave'
DB_HOST=localhost
DB_PORT=3306
